@import 'vendors/normalize'
@import 'modules/footer'
@import 'modules/product'
@import 'colors'
@import 'modules/shop'
@import 'components/card'
@import 'components/card-product'
@import 'components/pagination'
@import 'components/primary-button'

html, body
    font-size: 10px

body
    background-color: $white-color
    color: $dark-color
    font-family: 'Exo 2', sans-serif

*:focus
    outline: 1px solid $primary-color

// Fonts
h2
    font-size: 4.8rem
    font-weight: bold
    line-height: 38px

@media (max-width: 500px)
    html, body
        font-size: 7px