.border {
  border: 1px solid black; }

.blockone {
  padding: 16px 0px 16px 0px; }

.blocktwo {
  height: 58px; }

.honey-holic {
  display: block;
  height: 57px;
  width: 86px;
  margin: 0px auto; }
