/* STOCK SLIDER */
section.mainpage-stock .right {
  width: 50%;
  position: absolute;
  right: 0;
  padding: 0; }

.stock-text {
  color: #1d1d1b;
  font-size: 2.2rem;
  line-height: 2.8rem; }

.stock-slider {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .stock-slider a {
    cursor: pointer; }
  .stock-slider .slick-list {
    margin: 0 -15px -10px;
    width: 135%; }
    .stock-slider .slick-list::after {
      display: block;
      position: absolute;
      background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, white));
      background: -webkit-linear-gradient(left, transparent 0%, white 50%);
      background: -o-linear-gradient(left, transparent 0%, white 50%);
      background: linear-gradient(90deg, transparent 0%, white 50%);
      height: 200%;
      width: 50%;
      margin-top: -50%;
      content: '';
      right: 0; }
    .stock-slider .slick-list::before {
      display: block;
      position: absolute;
      background: -webkit-gradient(linear, right top, left top, from(transparent), to(white));
      background: -webkit-linear-gradient(right, transparent 0%, white 100%);
      background: -o-linear-gradient(right, transparent 0%, white 100%);
      background: linear-gradient(270deg, transparent 0%, white 100%);
      height: 100%;
      width: 30px;
      z-index: 1;
      content: '';
      left: 0; }
  .stock-slider-block {
    border-radius: 10px;
    padding: 2rem;
    z-index: 0;
    -webkit-box-shadow: 0 10px 22px 0 rgba(210, 210, 210, 0.45);
    box-shadow: 0 10px 22px 0 rgba(210, 210, 210, 0.45);
    background: #ffffff; }
    .stock-slider-block img {
      width: 100%; }
    .stock-slider-block span {
      font-size: 3rem;
      line-height: 3rem;
      padding-bottom: 1rem;
      font-weight: bold;
      color: #1d1d1b;
      text-align: center; }
  .stock-slider .slick-slide {
    margin: 0 30px 40px; }

.my-dots {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: right;
  right: 20%; }
  .my-dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    padding: 0;
    cursor: pointer; }
    .my-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 8px;
      height: 8px;
      padding: 5px;
      cursor: pointer;
      border: 0;
      outline: none;
      background: transparent; }
      .my-dots li button:hover, .my-dots li button:focus {
        outline: none; }
      .my-dots li button:hover:before, .my-dots li button:focus:before {
        opacity: 1; }
      .my-dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 8px;
        background: #000000;
        content: '';
        text-align: center;
        border-radius: 16px;
        margin: 3px;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
    .my-dots li.slick-active button:before {
      width: 13px;
      height: 13px;
      background: #FFBE10;
      border-radius: 26px;
      margin: 0;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }

@media screen and (max-width: 993px) {
  section.mainpage-stock .right {
    width: 100%;
    position: relative;
    padding: 0 15px !important; }
  .stock-slider {
    margin-left: 0; }
    .stock-slider .slick-list {
      width: 100%;
      margin: 0; }
      .stock-slider .slick-list::after {
        background: -webkit-gradient(linear, left top, right top, from(transparent), to(white));
        background: -webkit-linear-gradient(left, transparent 0%, white 100%);
        background: -o-linear-gradient(left, transparent 0%, white 100%);
        background: linear-gradient(90deg, transparent 0%, white 100%);
        width: 25px;
        right: -2px; }
      .stock-slider .slick-list::before {
        width: 25px;
        left: -2px; }
    .stock-slider .slick-slide {
      margin: 10px 25px 30px; }
  .my-dots {
    position: relative;
    text-align: center;
    right: inherit; }
    .my-dots li {
      padding: 10px; }
      .my-dots li button:before {
        width: 15px;
        height: 15px; }
      .my-dots li.slick-active button:before {
        width: 21px;
        height: 21px; } }

/* ======= */
