img {
  max-width: 100%;
  height: auto; }

.over-visible {
  overflow: visible; }

.synch-carousels {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.synch-carousels > * {
  width: 100%; }

.synch-carousels .right {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.synch-carousels .left {
  overflow: hidden; }

.synch-carousels .gallery {
  display: none; }

.synch-carousels .slick-slide {
  outline: none; }

.synch-carousels .slick-vertical .slick-slide {
  border: none; }

.synch-carousels .gallery .slick-list {
  height: auto !important;
  margin: 0 -20px; }

.synch-carousels .gallery .slick-slide {
  cursor: pointer; }

.synch-carousels .gallery .slick-slide {
  margin: 0 20px; }

.gallery .item {
  width: 100%;
  padding: 50% 0;
  position: relative; }

.gallery .item-block > img {
  width: 100%;
  left: 50%;
  top: 50;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  -webkit-box-shadow: 0 10px 22px 0 rgba(210, 210, 210, 0.45);
  box-shadow: 0 10px 22px 0 rgba(210, 210, 210, 0.45);
  border-radius: .4rem;
  border: solid .2rem white; }

.gallery-single .item {
  border: 2px solid #E2E2E7;
  border-radius: 8px;
  -webkit-box-shadow: 0 7px 7px 0 rgba(255, 190, 16, 0.18);
  box-shadow: 0 7px 7px 0 rgba(255, 190, 16, 0.18);
  padding: 1.5rem; }

@media screen and (min-width: 480px) {
  .synch-carousels .right {
    margin-bottom: 20px; }
  .synch-carousels .gallery {
    display: block; } }

@media screen and (min-width: 1024px) {
  .synch-carousels .right {
    position: relative;
    width: calc(100% - 230px);
    margin-bottom: 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .synch-carousels .left {
    width: 210px;
    height: 290px; }
  .synch-carousels .gallery .slick-slide {
    margin: 0 0 0 0; }
  .synch-carousels .gallery .slick-list {
    margin: 0;
    padding: 0 14px; } }
