@import '../colors'
    
.btn-primary
    background: $green-color
    color: $white-color
    box-shadow: 0px 7px 7px rgba(147, 211, 67, 0.179716)
    border-radius: 23px
    &:hover
        background-color: red
