.btn-primary {
  background: #80ba38;
  color: #ffffff;
  -webkit-box-shadow: 0px 7px 7px rgba(147, 211, 67, 0.179716);
  box-shadow: 0px 7px 7px rgba(147, 211, 67, 0.179716);
  border-radius: 23px;
  border: 0px solid black; }
  .btn-primary:hover {
    color: #1d1d1b;
    background: #80ba38; }
