@import '../colors'
@import '../components/card'
@import '../components/social-widget'

footer
    background-color: $primary-color
    background-image: url('../img/footer-bg.svg')
    background-repeat: no-repeat
    background-position: right bottom
    background-size: 85%
    h2
        font-style: 32px
    .footer-hover
        padding-bottom: 30%
    .card
        padding: 3.2rem 0 2rem 0
        margin-top: -20px
        h2
            font-size: 3.2rem
            margin-bottom: 2rem
        .form-control, .btn-secondary
            height: 5.8rem
            border-radius: 100px
            border: none
        .form-control
            background-color: $grey-color
            height: 58px
            padding: 0 4rem
            font-weight: bold
            font-size: 1.6rem
            line-height: 1.6rem
            &::placeholder
                color: $dark-color
        .btn-secondary
            width: 100%
            background: linear-gradient(182.45deg, #FFD216 -80.61%, #FFA609 194.68%)
            padding: 0 0 0 35px
            color: $dark-color
            font-weight: bold
            font-size: 14px
            line-height: 14px
            overflow: hidden
            display: flex
            justify-content: flex-end
            align-items: center

@media (max-width: 767px)
    footer
        background-image: url('../img/logo-white.svg')
        background-size: 40%
        background-position: center 71%