@import '../colors'
@import '../components/card'
@import '../components/social-widget'

footer
    background-color: $primary-color
    background-image: url('../img/footer-bg.svg')
    background-repeat: no-repeat
    background-position: right bottom
    background-size: 100%
    padding-bottom: 2rem
    .footer
        &-hover
            padding-bottom: 30%
        &-phones
            display: flex
            flex-direction: column
            align-items: center
            a
                font-weight: bold
                color: $dark-color
                font-size: 1.5rem
        &-email
            display: flex
            flex-direction: column
            align-items: center
            a
                font-weight: bold
                color: $dark-color
                font-size: 1.5rem
        &-poweredby
            color: $dark-color
            font-weight: bold
            font-size: 2rem
            display: flex
            justify-content: center
            align-items: flex-end
            a
                color: $primary-color
                background: $dark-color
                padding: 0 5px
                border-radius: 4px

@media (max-width: 1085px)
    footer
        background-image: url('../img/logo-white.svg')
        background-size: 40%
        background-position: center 51%
        .footer
            &-hover
                padding-bottom: 38%
            &-poweredby
                font-size: 1.5rem