@import '../colors'
@import '../components/card'
@import '../components/social-widget'

footer
    background-color: $primary-color
    background-image: url('../img/footer-bg.svg')
    background-repeat: no-repeat
    background-position: right bottom
    background-size: 85%
    .footer-hover
        padding-bottom: 30%
    .footer-poweredby
        color: $dark-color
        font-weight: bold
        font-size: 1.7rem
        text-align: center
        margin: 0
        padding-bottom: .5rem 
        a
            color: $dark-color

.oblique-transition
    width: 100%
    border-bottom: 6.6rem solid $primary-color
    border-left: 99vw solid transparent

@media (max-width: 767px)
    footer
        background-image: url('../img/logo-white.svg')
        background-size: 40%
        background-position: center 71%
        .footer-hover
            padding-bottom: 68%