h3
    color: $dark-color
    font-size: 25px	
    font-weight: bold	
    line-height: 25px

.text
    margin: 23px 0px
    color: $dark-color	
    font-size: 16px	
    line-height: 22px

.old_cost
    opacity: 0.2	
    color: $dark-color
    font-size: 20px	
    line-height: 20px
    text-decoration: line-through
.new_cost
    color: $green-color
    font-size: 30px	
    font-weight: bold	
    line-height: 30px

.quantity
    max-width: 53px

.btn-outline-primary
    $rdius: 12px
    font-size: 1rem
    background-color: $green-color
    border: none
    color: $dark-color
    &#minus
        border-bottom-left-radius: $rdius
        border-top-left-radius: $rdius
    &#plus
        border-bottom-right-radius: $rdius
        border-top-right-radius: $rdius
    &:focus, &:active, &:active:focus, &:hover, &:not(:disabled):not(.disabled):active
        background-color: $green-color
        border: none
        color: $dark-color
    
fieldset
    border-radius: 6px
    height: 55px	
    width: 95px
    color: $dark-color	
    padding: 1px 0px 10px 13px 
    border: 1px solid #C3C3C3	
    box-shadow: 0 7px 7px 0 rgba(255,190,16,0.18)
    legend
        margin: 0px 
        padding: 0px 6px
        height: 12px	
        width: 44px
        color: #1D1D1B		
        font-size: 12px	
        font-weight: bold
        line-height: 12px
        


.name
    align-content: center
    span
        display: block
        width: 16rem
        margin: 0px auto
        color: $dark-color
        font-family: "Exo 2"
        font-size: 2.4rem	
        font-weight: bold
        line-height: 24px
.small_card
    display: block
    height: 166px
    width: 166px
    margin: 0px auto
    a
        display: block
        height: 110px
        width: 87px
        margin: 28px auto
        img
            height: 110px
            width: 87px

