h3
    color: $dark-color
    font-size: 25px	
    font-weight: bold	
    line-height: 25px

.text
    margin: 23px 0px
    color: $dark-color	
    font-size: 16px	
    line-height: 22px

.old_cost
    opacity: 0.2	
    color: $dark-color
    font-size: 20px	
    line-height: 20px
    text-decoration: line-through
.new_cost
    color: $green-color
    font-size: 30px	
    font-weight: bold	
    line-height: 30px

.quantity
    max-width: 53px

.btn-outline-primary
    &#minus
        border-bottom-left-radius: 5px
        border-top-left-radius: 5px
    &#plus
        border-bottom-right-radius: 5px
        border-top-right-radius: 5px
fieldset
    border-radius: 6px
    height: 55px	
    width: 95px
    color: $dark-color	
    padding: 1px 0px 10px 13px 
    border: 1px solid #C3C3C3	
    box-shadow: 0 7px 7px 0 rgba(255,190,16,0.18)
    legend
        margin: 0px 
        padding: 0px 6px
        height: 12px	
        width: 44px
        color: #1D1D1B		
        font-size: 12px	
        font-weight: bold
        line-height: 12px
        
    .dropdown
        .btn-danger
            font-weight: bold
            font-size: 1.6rem
            line-height: 1.6rem
            background-color: $white-color
            &:focus, &:hover, &:active, &:visited
                text-decoration: none
                background-color: $white-color
                color: $dark-color
                box-shadow: none 
            &:active:focus, &:active:hover
                background-color: $white-color
                text-decoration: none
                color: $dark-color 
                box-shadow: none 

.name
    align-content: center
    span
        display: block
        width: 16rem
        margin: 0px auto
        color: $dark-color
        font-family: "Exo 2"
        font-size: 2.4rem	
        font-weight: bold
        line-height: 24px
.small_card
    display: block
    margin: 0 auto
    a
        display: block
        width: 100%
        img
            width: 100%
            padding: 2rem 2rem 0 2rem
        div
            color: #1d1d1b
            font-size: 1.7rem
            font-weight: bold
            width: 100%
            text-align: center

.btn-danger //Language
        display: block
        position: absolute
        height: 18px
        width: 50px
        padding: 0px  7px
        color: $dark-color
        background-color: $white-color
        font-size: 1.6rem
        font-weight: bold
        line-height: 18px
        border: none
        left: calc(100% - 90px)
        top: 10px
        z-index: 9
        text-decoration: none
        &:focus, &:hover, &:active, &:visited, &:active:focus, &:active:hover
            text-decoration: none
            background-color: $white-color
            color: $dark-color
            box-shadow: none
            border: none

.dropdown-menu.show
    background-color: $white-color
    min-width: auto
    max-width: auto
    border-radius: 9px
    margin: 0px 
    
    padding: 0px 7px
    .dropdown-item
        display: block
        color: $dark-color
        font-size: 1.6rem
        font-weight: bold
        min-width: auto
        max-width: auto
        padding: 0px
        margin: 2px 0px

.show > .btn-danger.dropdown-toggle:focus, 
.show > .btn-danger.dropdown-toggle:active, 
.show > .btn-danger.dropdown-toggle:active:focus, 
.btn-danger:not(:disabled):not(.disabled).active:focus, 
.btn-danger:not(:disabled):not(.disabled):active:focus
    box-shadow: none   
    color: $dark-color
    background-color: $white-color


img 
    max-width: 100%
    height: auto
.over-visible 
    overflow: visible

.synch-carousels 
    position: relative
    display: flex
    flex-wrap: wrap
    justify-content: space-between


.synch-carousels>* 
    width: 100%

.synch-carousels .right 
    order: -1


.synch-carousels .left 
    overflow: hidden


.synch-carousels .gallery 
    display: none


.synch-carousels .slick-slide 
    outline: none


.synch-carousels .slick-vertical .slick-slide 
    border: none


.synch-carousels .gallery .slick-list 
    height: auto !important
    margin: 0 -20px


.synch-carousels .gallery .slick-slide 
    cursor: pointer


.synch-carousels .gallery .slick-slide 
    margin: 0 20px


.gallery .item 
    width: 100%
    padding: 50% 0
    position: relative

.gallery .item2>img 
    width: 100%
    left: 50%
    top: 50
    transform: translate(-50%, -50%)
    position: absolute
    box-shadow: 0 10px 22px 0 rgba(210, 210, 210, 0.45)
    border-radius: .4rem
    border: solid .2rem white


.gallery2 .item 
    border: 2px solid #E2E2E7
    border-radius: 8px
    box-shadow: 0 7px 7px 0 rgba(255, 190, 16, 0.18)
    padding: 1.5rem


@media screen and (min-width: 480px) 
    .synch-carousels .right 
        margin-bottom: 20px
    
    .synch-carousels .gallery 
        display: block;
    


@media screen and (min-width: 1024px) 
    .synch-carousels .right 
        position: relative
        width: calc(100% - 230px)
        margin-bottom: 0
        order: 2
    
    .synch-carousels .left 
        width: 210px
        height: 290px
    
    .synch-carousels .gallery .slick-slide 
        margin: 0 0 0 0
    
    .synch-carousels .gallery .slick-list 
        margin: 0
        padding: 0 14px
    
