$radius: 12px
    
.product
    margin-top: 40px
    h3
        color: $dark-color
        font-size: 2.5rem	
        font-weight: bold	
        line-height: 2rem

    .text
        margin: 23px 0px
        color: $dark-color	
        font-size: 1.6rem	
        line-height: 2.2rem

    .old_cost
        opacity: 0.2	
        color: $dark-color
        font-size: 2rem	
        line-height: 2rem
        text-decoration: line-through
    .new_cost
        color: $green-color
        font-size: 3rem
        font-weight: bold	
        line-height: 3rem

    .quantity
        border: 1px solid $grey2-color
        border-left: none

    .btn-outline-primary
        font-size: 1rem
        border: 1px solid $grey2-color
        background-color: $white-color
        color: $dark-color
        &#minus
            border-bottom-left-radius: $radius
            border-top-left-radius: $radius
        &#plus
            border-bottom-right-radius: $radius
            border-top-right-radius: $radius
        &:focus, &:active, &:active:focus, &:hover, &:not(:disabled):not(.disabled):active
            background-color: $green-color
            border: 1px solid $grey2-color
            color: $dark-color
        
    fieldset
        border-radius: 6px
        height: 55px	
        width: 95px
        color: $dark-color	
        padding: 1px 0px 10px 13px 
        border: 1px solid $grey3-color	
        box-shadow: 0 7px 7px 0 rgba($primary-color,0.18)
        legend
            margin: 0px 
            padding: 0px 6px
            width: 44px
            color: $dark-color		
            font-size: 1.2rem
            font-weight: bold
            line-height: 1.2rem
            
    .name
        align-content: center
        span
            display: block
            width: 16rem
            margin: 0px auto
            color: $dark-color
            font-size: 2.4rem	
            font-weight: bold
            line-height: 2.4rem	
    .small_card
        display: block
        margin: 0 auto
        a
            display: block
            width: 100%
            padding: 2rem
            img
                width: 100%
            div
                color: $dark-color
                font-size: 1.5rem
                line-height: 1.5rem
                margin-top: .5rem
                font-weight: bold
                width: 100%
                text-align: center

    img 
        max-width: 100%
        height: auto
    .over-visible 
        overflow: visible
    .synch-carousels 
        position: relative
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        .right 
            order: -1
        .left 
            overflow: hidden
        .gallery 
            display: none
        .slick-slide 
            outline: none
        .slick-vertical .slick-slide 
            border: none
        .gallery 
            .slick-list 
                height: auto !important
                margin: 0 -20px
        .gallery 
            .slick-slide 
                cursor: pointer
        .gallery 
            .slick-slide 
                margin: 0 20px
            .item 
                width: 100%
                padding: 50% 0
                position: relative
            .item-block>img 
                width: 100%
                left: 50%
                top: 50
                transform: translate(-50%, -50%)
                position: absolute
                box-shadow: 0 10px 22px 0 rgba(210, 210, 210, 0.45)
                border-radius: .4rem
                border: solid .2rem white
        .gallery-single 
                .item 
                    border: 2px solid $grey4-color
                    border-radius: 8px
                    box-shadow: 0 7px 7px 0 rgba($primary-color, 0.18)
                    padding: 1.5rem
                .slick-arrow
                    top: calc(50% - 2.5rem)
                    font-size: 4rem
                    line-height: 5rem
                .slider-prev
                    left: 2.5rem
                .slider-next
                    right: 2.5rem
    @media screen and (min-width: 480px) 
        .synch-carousels 
            .right 
                margin-bottom: 20px
            .gallery 
                display: block
    @media screen and (min-width: 1024px) 
        .synch-carousels 
            .right 
                position: relative
                width: calc(100% - 230px)
                margin-bottom: 0
                order: 2
            .left 
                width: 210px
                height: 290px
            .gallery 
                .slick-slide 
                    margin: 0
                .slick-list 
                    margin: 0
                    padding: 0 14px