.shop
    background-color: $bg-shop
    position: relative
    .bg
        background-color: $white-color
        position: absolute
        height: 100%
        left: 0
        top: 0
        width: 30%
        box-shadow: 0 10px 22px 0 rgba(197, 197, 197, 0.45)
    &-sidebar
        background-color: $white-color
        padding: 4rem 0 0 0
        height: 100vh
        position: sticky
        top: 0
        text-align: center
        .categories
            border-bottom: 1px solid $grey2-color
            margin: 0 2rem 1.3rem 2rem
            padding-bottom: 1.3rem
            font-size: 1.3rem
            .form-check
                margin-bottom: 1rem
                &-input, &-label
                    font-size: 1.5rem
                    line-height: 1.7rem
                    user-select: none
                    cursor: pointer

            p
                font-size: 2rem
                font-weight: bold
        .card
            border: none
            box-shadow: none
            margin-bottom: 2rem
            &-header
                background-color: $white-color
                font-weight: bold
                font-size: 1.6rem
                line-height: 1.8rem
                border: none
                padding: 0
                span
                    cursor: pointer
                    &:after
                        content: url('../img/drop-down.svg')
                        margin-left: 8px
                    &:hover
                        user-select: none
    &-sorting
        padding: 0 15px
        &-block
            position: relative
            &:nth-child(n+1)
                margin-right: 3rem
            input
                display: none
                & + label:after
                    content: ' '
                    bottom: -50%
                    position: absolute
                    border: 1rem solid transparent
                    border-top: 1rem solid $dark-color
                &:checked + label:after
                    bottom: 0
                    border: 1rem solid transparent
                    border-bottom: 1rem solid $dark-color
            span
                font-size: 1.5rem
                font-weight: bold
            label
                cursor:pointer
                padding: 1rem 0
                position: relative
                margin: 0

    &-content
        padding: 1rem 0 5.4rem 3rem
        .card-product
            margin-top: 3rem

@media (max-width: 767px)
   .shop
        &-sidebar
            display: none
    